$color: #e08ed3 ;
$color2: #271d6d ;
$color3: #ffffff ;

.cardBody {
    background-color: #dbb4cc;
    text-align: center;
}

.movie-card-link-open-movie {
    background-color: #dbb4cc9c;
    color: #000000;
    border: 0px solid #555555;
    border-radius: 3px;
    padding: 10px 70px;
    transition-duration: 0.4s;
}

.movie-card-link-open-movie:hover {
  background-color: #e0a6d6;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.movie-card-footer {
    padding: 20px;
    text-align:center
}

@media (min-width: 768px) {
    .movie-card-link-open-movie {
    background-color: #dbb4cc9c;
    color: black;
    border-radius: 3px;
    padding: 10px 20px;
    transition-duration: 0.4s;
}
}
@media (min-width: 996px) {
    .movie-card-link-open-movie {
    background-color: #dbb4cc9c;
    color: black;
    border-radius: 3px;
    padding: 10px 50px;
    transition-duration: 0.4s;
}
}
@media (min-width: 1200px) {
    .movie-card-link-open-movie {
    background-color: #dbb4cc9c;
    color: black;
    border-radius: 3px;
    padding: 10px 70px;
    transition-duration: 0.4s;
}
}